# Python byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest / Test Cache
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit config / cache
.streamlit/

# OS specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
